<div id='openingLines'>
  <!-- Why I made this site -->
  George Carlin, the thinker's comedian.  
  <br>
</div>

<div class="row">
  <div class="col-md-6">
    <!-- Video of George Carlin Explaining the 7 words -->
    <iframe width="420" height="315" src="//www.youtube.com/embed/rMyDvqnwIm4" frameborder="0" allowfullscreen></iframe>
    <br>
    <h2>
      &nbsp;&nbsp;&nbsp;&nbsp;Most of the words on Carlin's original list remain taboo on American broadcast television as of 2014. The list was not an official enumeration of forbidden words, but rather was compiled by Carlin.<br><br>
    </h2>
  </div>

  <div class="col-md-6">
    <h1>Seven Dirty Words</h1>
    <h2>
      The seven dirty words (or "Filthy Words") are seven English-language words that American comedian George Carlin first listed in 1972 in his monologue <b>"Seven Words You Can Never Say on Television"</b>. <br>
      The words are: 
      <ol>
        <li>shit</li>
        <li>piss</li>
        <li>fuck</li>
        <li>cunt</li>
        <li>cocksucker</li>
        <li>motherfucker</li>
        <li>tits</li>
      </ol>
    </h2>
  </div>
</div>
<div id='right'>
  <h2>
    &nbsp;&nbsp;&nbsp;&nbsp;A radio broadcast featuring these words led to a U.S. Supreme Court decision in <i>Federal Communications Commission v. Pacifica Foundation</i>&nbsp;&nbsp;that helped establish the extent to which the federal government could regulate speech on broadcast television and radio in the United States.
    &nbsp;&nbsp;&nbsp;&nbsp;- <a href="http://en.wikipedia.org/wiki/Seven_dirty_words">Wiki</a>
</div>

<div id='openingLines'>
  <h2>
    <!-- References and resources -->
    References for mateiral on George Carlin,
    <br>
    <a href="https://www.georgecarlin.com/">The Official George Carlin Site</a>
    <br>
    <a href="http://en.wikipedia.org/wiki/Seven_dirty_words">The full history of the "Seven dirty words" </a>
    <br>
    <a href="http://www.imdb.com/name/nm0137506/">George Carlin's IMDb</a>
  </h2>
</div>