<!DOCTYPE html>
<html lang="en">
	<head>
		<h1><title>Tribute to 7 Dirty words</title><h1>
    <link rel="stylesheet" type="text/css" href="styles.css">   
    <link rel="stylesheet" type="text/css" href="classroom.css"> 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Google font for blackboard -->
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

	</head>
	<body>

		<div id="main">

      <div id="openingLines">
        Welcome Class to a Tribute to <a href="/about">"George Carlin's 7 dirty words"</a>
        <br><br>
        Check if a Twitter Handle recently used one...
          <div class="GetHandle">
            <form action="/user" method="POST" autocomplete="off">
              @
            <input type="text" name="screenName" id="inputText" />
            <input type="submit" value="uses Dirty words?" name="user" id="submit"/>
            </form> 
          </div>
        <br>
        <a href="/random">"Find Random Tweets with dirty words"</a>
        <br><br>
      </div>


			<%= yield %>



		</div>


    <div id='parential'>
      <img src='img/200px-Parental_Advisory_label.svg.png'>
    </div>




	</body>
</html>